.market-page{
    color:yellow;
    margin-right:35rem;
    position:relative;  
    font-size:1.3rem;
}

.market-page-home{
    color:yellow;
    position:relative;
    margin-right:90px;
    font-size: 1.3rem;
}


